*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sniptan-sun: #ffcd1e;
    --sniptap-sky-mid: #06b6d4;
    --sniptap-sky-light: #67e8f9;
    --sniptap-joy-mid: #db2777;
    --sniptap-joy-light: #f472b6;
    --sniptap-leaf-mid: #16a34a;

    --text: #000000;
    --highlights: #000000;
    --background: #FAFAFA;

    --ff-base: "Montserrat", sans-serif;

    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 2.5rem;
    --text-xl: 4rem;

}

html, button {
    font: 500 1rem/1.5 var(--ff-base);
}

h1, h2 {
    font-family: "Syne", sans-serif;
}

h1 {
    font-size: var(--text-xl);
    line-height: 1.25;
}

h2 {
    font-size: var(--text-lg);
    line-height: 1.2;
}

a {
    color: inherit;
    text-decoration: none;
}